.container {
    width: 950px;
}

#nav-header {
    margin-top: 20px;
}

#diagram  {
}

.btn-list {
    float: right;
}

.btn-list .btn {
    float: right;
    margin-left: 30px;
}
.btn-list .btn:last-child {
    margin-left: 0;
}

.btn-plus-request-link, .btn-minus-request-link, .btn-plus-request-constrained-link, .btn-minus-request-constrained-link {
    margin-top: 25px;
}

.row-border-top {
    border-top: 1px dotted #CCC;
    padding-top: 10px;
}
.row-border-top:first-child {
    border-top: 0;
}

#bandwidth-box {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #d9edf7;
  padding: 5px;
  background: #F8FFFF;
}